  .border {

    border-radius: 3%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .nav-link b:hover{
    background-color: #3486eb;
    color: white;
  }